*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

header {
        height: 100px;
        background-color: rgb(28, 31, 197);
        display: flex;    
                justify-content: space-between;
        margin: 5px 5px 5px 5px ;
}

header>.parte_tit1 {
    height: 100px;
    margin: 5px;
align-items: center;
box-sizing: border-box;


}

header>.parte_tit2 {
    height: 100px;
    margin: 5px;


}

header>.parte_tit1>img {
    width: 100%;
    height: 90px
    
}

header>.parte_tit2>img {
    height: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    height: 30px;
    background-color: rgb(3, 3, 82);
    color: rgb(208, 248, 235);
}

nav>div {
    height: 20px;
    margin: 5px;
}

nav>div>a:link{
    color: rgb(208, 248, 235);
    text-decoration: none;
}

nav>div>a:hover{
    color: rgb(220, 243, 116);
    text-decoration: underline;
}

nav>div>a:visited{
    color: rgb(208, 248, 235);
    text-decoration: none;
}

.cuerpo {
    display: flex;
}

.slider {
    background-color: rgb(124, 166, 245);
    height: 380px;
    width: 580px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 45px 200px 35px 200px;
    float: right;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

@keyframes slide{
0% {left: -2400px}
25% {left: -1800px}
50% {left: -1200px}
75% {left: -600px}
100% {left: 0px}
}

.lista_slider {
    width: 2400px;
    height: 330px;
    display: flex;
    flex-direction: row;
    position: relative;
    animation: slide 12s infinite;
}

.slide{
    width: 460px;;
}

.desc_slide {
    height: 320px;
    width: 140px;

    font-size: 25;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text_pres {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26;
    color: whitesmoke;
    width: 30%;
    height: 440px;
    float: left;
    margin: 5px;
    margin-top: 0px;
    padding: 15px;
    box-shadow: 5px 5px 5px color(rgb(28, 28, 68));
    background-color: rgb(3, 3, 82);
    text-align: justify;
}

.Qsomos {
    width: 60%;
    margin: 20px;

}

footer {
    width: 100%;
    margin: 5px 5px 5px 5px;
   position: absolute;
    background-color: rgb(3, 3, 82);
box-sizing: border-box;
bottom: 0;
text-align: center;
color: aquamarine;
}

.logos{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
}

.logosimg {
    width: 100%;
    padding: 15px;
}

/* --- MEDIA QUERY PARA SMARTPHONES 720x1280px --- */
@media only screen and (max-width: 720px) {
    header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
    header>.parte_tit1,
    header>.parte_tit2 {
        height: 60px;
        margin: 2px;
        width: 100%;
    }
    header>.parte_tit1>img,
    header>.parte_tit2>img {
        height: 50px;
        width: auto;
    }
    nav {
        flex-direction: column;
        height: auto;
        font-size: 18px;
    }
    nav>div {
        margin: 3px 0;
        height: auto;
    }
    .cuerpo {
        flex-direction: column;
    }
    .slider {
        width: 98vw;
        max-width: 100%;
        height: 220px;
        margin: 10px auto;
        padding-left: 0;
        padding-right: 0;
    }
    .lista_slider {
        width: 960px; /* 480*2 slides aprox, ajustar segun cantidad de imágenes */
        height: 180px;
    }
    .slide {
        width: 220px;
    }
    .desc_slide {
        width: 80px;
        font-size: 14px;
        height: 160px;
    }
    .text_pres {
        width: 92vw;
        font-size: 18px;
        height: auto;
        float: none;
        margin: 10px auto;
        padding: 10px;
    }
    .Qsomos {
        width: 96vw;
        margin: 10px auto;
    }
    .logos {
        grid-template-columns: 1fr 1fr; /* solo 2 columnas en móvil */
        padding: 5px;
    }
    .logosimg {
        width: 90%;
        padding: 5px;
    }
    footer {
        font-size: 15px;
        position: static;
        margin: 10px 0 0 0;
        padding: 8px 0;
    }
}
